.post {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,.05);

    transition: 0.5s all;
}
.post p, h4, h5 {
    position: relative;
}

.post:hover {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 280px;
    margin-right: 280px;
    box-shadow: 8px 8px 5px 0px rgba(0,0,0,.05);
}

.back {
    margin-left: 300px;
}

.back button {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: thin;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    border: none;
    background-color: aliceblue;
}
input[type="text"] {
    text-align: center;
    font-weight: bolder;
    font-size: 34px;
    border: none;
}

textarea {
    border: none;
    background-color: aliceblue;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
