.posts h1 {
    padding:50px;
    font-size:60px;
    text-align: center;
}
.post {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,.05);

    transition: 0.5s all;
}
.post p, h4, h5 {
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}
.post:hover {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 280px;
    margin-right: 280px;
    box-shadow: 8px 8px 5px 0px rgba(0,0,0,.05);
}

.create {
    margin-left: 720px;
    margin-right: 720px;
}

.create button {
    font-size: 30px;
    color: gray;
    text-align: center;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: aliceblue;
}
/* いいねボタン */
.liked {
    color:pink
}